@page
@model RegisterModel
@{
    Layout = null;
    var roles= (List<IdentityRole>)ViewData["roles"];
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/Hashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="~/Hashboard/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header"><h4>Register an Account</h4></div>
            <div class="card-body">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">

                                <label asp-for="Input.FirstName">First Name</label>
                                <input asp-for="Input.FirstName" class="form-control" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label asp-for="Input.LastName">Last Name</label>
                                    <input asp-for="Input.LastName" class="form-control" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label asp-for="Input.Email">Email</label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>

                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label asp-for="Input.Name">Confirm password</label>
                                    <select asp-for="Input.Name" class="form-control" 
                                            asp-items='new SelectList(roles,"Id","Name")'>Roles</select>
                                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">

                                <label asp-for="Input.Password">Password</label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>

                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label asp-for="Input.ConfirmPassword">Confirm password</label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="login.html">Login Page</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Hashboard/vendor/jquery/jquery.min.js"></script>
    <script src="~/Hashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Hashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


